#logo {
    float: right;
    width: 4%;
    display: block;
  }
  body {
      margin: 10;
      font-family: Arial, Helvetica, sans-serif;
    }
    
    .topnav {
      overflow: hidden;
      background-color: #333;
      
    }
    
    .topnav a {
      float: left;
      display: block;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
    }
    
    .topnav a:hover {
      background-color: #ddd;
      color: black;
    }
    
    .active {
      background-color: #4CAF50;
      color: white;
    }
    
    .topnav .icon {
      display: none;
    }
    
    @media screen and (max-width: 600px) {
      .topnav a:not(:first-child) {display: none;}
      .topnav a.icon  {
        float: right;
        display: block;
        
      }
    }
    
    @media screen and (max-width: 600px) {
      .topnav.responsive {position: relative;}
      .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
      }
      .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
      }
    }
    .title {
        font-size: 30px;
        text-align: center;
        width: 1000 px;
        padding: 20px;
    }
    .image {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
    
    }
    .read {
        padding:30px;
        align-content: center;
    }
    p {
        padding:25px;
    }
    .contbox:after {
      content: "";
      clear: both;
      display: table;
    }
    .box {
      float:left;
      width: 33.33%;
      
       
    }
    @media screen and (max-width: 600px) {
      .box {
      background-color: lightblue;
      width: 100%; 
     display: block;
      }
    }
    #more1, #more, #more2, #more3 {display: none;}
    
  
    h1 {
      border-radius: 50%;
      
      text-align: center;
    }
    .cerchio {
      
      margin: auto;
      width:100px;
      height:100px;
      border-radius:50px;
      background:rgb(128, 128, 128);
      
    }
  
    